/captures
.externalNativeBuild
.cxx
.ignore.d/

###      IDEA
.idea
.gradle
.gradle-local
.gradle-local-run
.gradle-user-home
.vscode
.assets/OpenTune-master

###      BUILDS
**build/

###      BINS
**bin/
/assets/OpenTune-master
###      ANDROID
**APK keystore/
.DS_Store
composeApp/src/androidMain/res/raw/release_notes.txt

###      PROPERTIES
**local.properties
**crowdin.properties
**__crowdin.properties


###     DEPENDENCIES
/YT python/
/.kotlin/
